USE [YT_MES]
GO
/****** Object:  Table [dbo].[assembly_record]    Script Date: 2026/5/21 13:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[assembly_record](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_no] [nvarchar](16) NOT NULL,
	[record_status] [tinyint] NOT NULL,
	[is_draft] [bit] NOT NULL,
	[casing_equipment_code] [nvarchar](16) NOT NULL,
	[shell_model] [nvarchar](128) NOT NULL,
	[bottom_weld_equipment] [nvarchar](16) NOT NULL,
	[bottom_weld_params] [nvarchar](256) NOT NULL,
	[bottom_weld_pull] [decimal](8, 2) NULL,
	[groove_record] [nvarchar](256) NULL,
	[cap_model] [nvarchar](128) NOT NULL,
	[cap_welding_pull] [decimal](8, 2) NULL,
	[tab_welding_pull] [decimal](8, 2) NULL,
	[operator_name] [nvarchar](32) NOT NULL,
	[created_by] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[extra_data] [nvarchar](max) NULL,
 CONSTRAINT [PK_b9c359cb5990aba6aa02502d882] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[baking_record]    Script Date: 2026/5/21 13:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[baking_record](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_no] [nvarchar](16) NOT NULL,
	[record_status] [tinyint] NOT NULL,
	[is_draft] [bit] NOT NULL,
	[equipment_code] [nvarchar](16) NOT NULL,
	[baking_temperature] [decimal](8, 2) NOT NULL,
	[baking_duration] [int] NOT NULL,
	[vacuum_level] [decimal](8, 2) NULL,
	[moisture_after_baking] [decimal](8, 2) NULL,
	[operator_name] [nvarchar](32) NOT NULL,
	[created_by] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[extra_data] [nvarchar](max) NULL,
 CONSTRAINT [PK_169c95081d434189d8fb42230d6] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[batch]    Script Date: 2026/5/21 13:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[batch](
	[batch_no] [nvarchar](16) NOT NULL,
	[product_model] [nvarchar](128) NOT NULL,
	[workshop] [nvarchar](64) NOT NULL,
	[shift] [nvarchar](32) NOT NULL,
	[planned_qty] [int] NOT NULL,
	[actual_start_date] [date] NOT NULL,
	[status] [tinyint] NOT NULL,
	[remarks] [nvarchar](500) NULL,
	[created_by] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[product_spec] [nvarchar](128) NULL,
 CONSTRAINT [PK_b3b28df2e27079aa8ce98354dbb] PRIMARY KEY CLUSTERED 
(
	[batch_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[batch_status_log]    Script Date: 2026/5/21 13:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[batch_status_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_no] [nvarchar](16) NOT NULL,
	[from_status] [tinyint] NULL,
	[to_status] [tinyint] NOT NULL,
	[changed_by] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[change_reason] [nvarchar](200) NULL,
 CONSTRAINT [PK_7180eb58524dea2989b807080a1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[batching_record]    Script Date: 2026/5/21 13:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[batching_record](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_no] [nvarchar](16) NOT NULL,
	[record_status] [tinyint] NOT NULL,
	[is_draft] [bit] NOT NULL,
	[positive_material] [nvarchar](128) NOT NULL,
	[negative_material] [nvarchar](128) NOT NULL,
	[viscosity_record] [nvarchar](256) NULL,
	[operator_name] [nvarchar](32) NOT NULL,
	[created_by] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[extra_data] [nvarchar](max) NULL,
 CONSTRAINT [PK_dfabd91f9339ae01b100d379674] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cell_barcode]    Script Date: 2026/5/21 13:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cell_barcode](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[barcode] [nvarchar](32) NOT NULL,
	[batch_no] [nvarchar](16) NOT NULL,
	[sorting_record_id] [int] NULL,
	[voltage] [decimal](6, 4) NULL,
	[internal_resistance] [decimal](6, 2) NULL,
	[capacity] [decimal](8, 2) NULL,
	[grade] [nvarchar](16) NULL,
	[import_source] [nvarchar](32) NULL,
	[imported_at] [datetime2](7) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[k_value] [decimal](6, 4) NULL,
	[sorting_time] [datetime2](7) NULL,
 CONSTRAINT [PK_ac279799e41414d2141b401a6e0] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_7286f15f08fe25bf1ac30043bf5] UNIQUE NONCLUSTERED 
(
	[barcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[coating_record]    Script Date: 2026/5/21 13:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[coating_record](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_no] [nvarchar](16) NOT NULL,
	[record_status] [tinyint] NOT NULL,
	[is_draft] [bit] NOT NULL,
	[equipment_code] [nvarchar](16) NOT NULL,
	[coating_speed] [decimal](8, 2) NOT NULL,
	[coating_thickness_pos] [decimal](8, 2) NOT NULL,
	[coating_thickness_neg] [decimal](8, 2) NOT NULL,
	[areal_density_pos] [decimal](8, 2) NOT NULL,
	[areal_density_neg] [decimal](8, 2) NOT NULL,
	[coating_temperature] [decimal](8, 2) NOT NULL,
	[operator_name] [nvarchar](32) NOT NULL,
	[created_by] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[extra_data] [nvarchar](max) NULL,
 CONSTRAINT [PK_3dbed77a972fb253ac4e8f05d4a] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[electrode_record]    Script Date: 2026/5/21 13:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[electrode_record](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_no] [nvarchar](16) NOT NULL,
	[record_status] [tinyint] NOT NULL,
	[is_draft] [bit] NOT NULL,
	[tab_material_spec] [nvarchar](128) NOT NULL,
	[electrode_length] [nvarchar](64) NOT NULL,
	[tab_welding_pull] [nvarchar](64) NULL,
	[operator_name] [nvarchar](32) NOT NULL,
	[created_by] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[extra_data] [nvarchar](max) NULL,
 CONSTRAINT [PK_7f22f5061c4cb4612bbd283c634] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[formation_record]    Script Date: 2026/5/21 13:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[formation_record](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_no] [nvarchar](16) NOT NULL,
	[record_status] [tinyint] NOT NULL,
	[is_draft] [bit] NOT NULL,
	[equipment_code] [nvarchar](16) NOT NULL,
	[charge_discharge_template] [nvarchar](500) NULL,
	[formation_temperature] [decimal](8, 2) NULL,
	[operator_name] [nvarchar](32) NOT NULL,
	[created_by] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[extra_data] [nvarchar](max) NULL,
 CONSTRAINT [PK_c6172546a6bd1c258d3618ff356] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[grading_record]    Script Date: 2026/5/21 13:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grading_record](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_no] [nvarchar](16) NOT NULL,
	[record_status] [tinyint] NOT NULL,
	[is_draft] [bit] NOT NULL,
	[equipment_code] [nvarchar](16) NOT NULL,
	[charge_discharge_template] [nvarchar](500) NULL,
	[grading_temperature] [decimal](8, 2) NULL,
	[capacity_grade_standard] [nvarchar](500) NULL,
	[operator_name] [nvarchar](32) NOT NULL,
	[created_by] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[extra_data] [nvarchar](max) NULL,
 CONSTRAINT [PK_64e7f3178d406d36a2dd9bafb16] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[injection_record]    Script Date: 2026/5/21 13:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[injection_record](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_no] [nvarchar](16) NOT NULL,
	[record_status] [tinyint] NOT NULL,
	[is_draft] [bit] NOT NULL,
	[equipment_code] [nvarchar](16) NOT NULL,
	[electrolyte_model] [nvarchar](128) NOT NULL,
	[injection_amount] [decimal](8, 2) NULL,
	[injection_humidity] [decimal](8, 2) NULL,
	[injection_temperature] [decimal](8, 2) NULL,
	[sealing_dimension] [decimal](8, 2) NULL,
	[cleaning_record] [nvarchar](256) NULL,
	[operator_name] [nvarchar](32) NOT NULL,
	[created_by] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[extra_data] [nvarchar](max) NULL,
 CONSTRAINT [PK_5a0ec46efd260c6be2128ca6d99] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[material_warehouse]    Script Date: 2026/5/21 13:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[material_warehouse](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_no] [nvarchar](16) NOT NULL,
	[material_type] [tinyint] NOT NULL,
	[supplier_batch_no] [nvarchar](32) NOT NULL,
	[quantity] [decimal](12, 3) NOT NULL,
	[unit] [nvarchar](16) NOT NULL,
	[created_by] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[status] [tinyint] NOT NULL,
	[warehouse_person] [nvarchar](32) NULL,
 CONSTRAINT [PK_cde0776aa6cdcffc507a0cc4c6a] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pack]    Script Date: 2026/5/21 13:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pack](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pack_barcode] [nvarchar](64) NOT NULL,
	[protection_board_barcode] [nvarchar](64) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[operator_name] [nvarchar](64) NULL,
	[batch_no] [nvarchar](64) NULL,
 CONSTRAINT [PK_c125718b999b41a621b0d799e02] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_1e327296ebedd1c2469a6c79c63] UNIQUE NONCLUSTERED 
(
	[pack_barcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pack_cell]    Script Date: 2026/5/21 13:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pack_cell](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cell_barcode] [nvarchar](64) NOT NULL,
	[pack_id] [int] NOT NULL,
 CONSTRAINT [PK_dfeb81da5480876b56fae783b0a] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[process_dictionary]    Script Date: 2026/5/21 13:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[process_dictionary](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[process_code] [nvarchar](255) NOT NULL,
	[process_name] [nvarchar](255) NOT NULL,
	[sort_order] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[field_definitions] [nvarchar](max) NULL,
 CONSTRAINT [PK_9cd7ff40ef0203a2483323e17c5] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_78a60e3034d6858dbed8f706bc2] UNIQUE NONCLUSTERED 
(
	[process_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quality_check]    Script Date: 2026/5/21 13:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quality_check](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_no] [nvarchar](16) NOT NULL,
	[process_type] [nvarchar](32) NOT NULL,
	[inspection_result] [tinyint] NOT NULL,
	[defect_qty] [int] NULL,
	[defect_reason] [nvarchar](512) NULL,
	[inspector_name] [nvarchar](32) NOT NULL,
	[abnormal_record] [nvarchar](512) NULL,
	[created_by] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_46244a39dc1749e2ba591574d16] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roller_pressing_record]    Script Date: 2026/5/21 13:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roller_pressing_record](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_no] [nvarchar](16) NOT NULL,
	[record_status] [tinyint] NOT NULL,
	[is_draft] [bit] NOT NULL,
	[equipment_code] [nvarchar](16) NOT NULL,
	[roller_pressure] [decimal](8, 2) NOT NULL,
	[roller_thickness] [decimal](8, 2) NOT NULL,
	[roller_speed] [decimal](8, 2) NULL,
	[operator_name] [nvarchar](32) NOT NULL,
	[created_by] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[extra_data] [nvarchar](max) NULL,
 CONSTRAINT [PK_38c53ec3bf10faf84771eb94f83] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[slitting_record]    Script Date: 2026/5/21 13:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[slitting_record](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_no] [nvarchar](16) NOT NULL,
	[record_status] [tinyint] NOT NULL,
	[is_draft] [bit] NOT NULL,
	[equipment_code] [nvarchar](16) NOT NULL,
	[electrode_width] [decimal](8, 2) NOT NULL,
	[electrode_length] [decimal](8, 2) NOT NULL,
	[slitting_speed] [decimal](8, 2) NULL,
	[operator_name] [nvarchar](32) NOT NULL,
	[created_by] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[extra_data] [nvarchar](max) NULL,
 CONSTRAINT [PK_5c9891b7306820920252e61865d] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sorting_record]    Script Date: 2026/5/21 13:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sorting_record](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_no] [nvarchar](16) NOT NULL,
	[record_status] [tinyint] NOT NULL,
	[is_draft] [bit] NOT NULL,
	[equipment_code] [nvarchar](16) NOT NULL,
	[ocv_voltage_range] [nvarchar](500) NOT NULL,
	[ir_range] [nvarchar](500) NOT NULL,
	[capacity_range] [nvarchar](500) NOT NULL,
	[operator_name] [nvarchar](32) NOT NULL,
	[created_by] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[extra_data] [nvarchar](max) NULL,
 CONSTRAINT [PK_db93f12fd97a58976cc9ff2b400] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_config]    Script Date: 2026/5/21 13:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_config](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[key] [nvarchar](255) NOT NULL,
	[value] [nvarchar](max) NOT NULL,
	[description] [nvarchar](500) NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_8791cee36df4c4d04a9acffed27] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_2c363c25cf99bcaab3a7f389ba6] UNIQUE NONCLUSTERED 
(
	[key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_department]    Script Date: 2026/5/21 13:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_department](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[code] [nvarchar](20) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_fd8a94152d18a42aa8ddfe48f2b] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_2672540ab56732d726d19a04080] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_equipment]    Script Date: 2026/5/21 13:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_equipment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[equipment_code] [nvarchar](50) NOT NULL,
	[equipment_name] [nvarchar](100) NOT NULL,
	[model] [nvarchar](50) NULL,
	[department_code] [nvarchar](50) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_a8f756ced04b042385cbf94e297] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_d260ebe09520453989e5a421bfc] UNIQUE NONCLUSTERED 
(
	[equipment_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_log]    Script Date: 2026/5/21 13:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[username] [nvarchar](255) NOT NULL,
	[action] [nvarchar](255) NOT NULL,
	[module] [nvarchar](255) NOT NULL,
	[detail] [nvarchar](max) NULL,
	[ip] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_a820dafdcd358af9d85bff206eb] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sys_user]    Script Date: 2026/5/21 13:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sys_user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[real_name] [nvarchar](50) NOT NULL,
	[role_code] [int] NOT NULL,
	[phone] [nvarchar](20) NULL,
	[is_active] [bit] NOT NULL,
	[login_attempts] [int] NOT NULL,
	[locked_until] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_b286272b5d723fa76dca97a159e] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_9e7164b2f1ea1348bc0eb0a7da4] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[winding_record]    Script Date: 2026/5/21 13:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[winding_record](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_no] [nvarchar](16) NOT NULL,
	[record_status] [tinyint] NOT NULL,
	[is_draft] [bit] NOT NULL,
	[equipment_code] [nvarchar](16) NOT NULL,
	[separator_model] [nvarchar](128) NOT NULL,
	[winding_speed] [decimal](8, 2) NOT NULL,
	[winding_tension] [decimal](8, 2) NOT NULL,
	[core_thickness] [decimal](8, 2) NULL,
	[core_diameter] [decimal](8, 2) NULL,
	[operator_name] [nvarchar](32) NOT NULL,
	[created_by] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[extra_data] [nvarchar](max) NULL,
 CONSTRAINT [PK_3005810f13f8b8821b4a1072362] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wrapping_record]    Script Date: 2026/5/21 13:52:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wrapping_record](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[batch_no] [nvarchar](16) NOT NULL,
	[record_status] [tinyint] NOT NULL,
	[is_draft] [bit] NOT NULL,
	[equipment_code] [nvarchar](16) NOT NULL,
	[film_model] [nvarchar](128) NOT NULL,
	[shrink_temperature] [decimal](8, 2) NOT NULL,
	[appearance_check] [tinyint] NULL,
	[operator_name] [nvarchar](32) NOT NULL,
	[created_by] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[extra_data] [nvarchar](max) NULL,
 CONSTRAINT [PK_8855f002c4a7e0e9e1702cfee0f] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[assembly_record] ADD  CONSTRAINT [DF_8dcea2463d3f1ab75937e9ee906]  DEFAULT ((1)) FOR [record_status]
GO
ALTER TABLE [dbo].[assembly_record] ADD  CONSTRAINT [DF_a9d9e4fa39cf07546765c2d8ec4]  DEFAULT ((1)) FOR [is_draft]
GO
ALTER TABLE [dbo].[assembly_record] ADD  CONSTRAINT [DF_42e42718b4d42846f90b25b8f4f]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[assembly_record] ADD  CONSTRAINT [DF_ca0b653de1a7fa266ab1a052f81]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[baking_record] ADD  CONSTRAINT [DF_2302ab916b7caaa9fd4bf96bbcd]  DEFAULT ((1)) FOR [record_status]
GO
ALTER TABLE [dbo].[baking_record] ADD  CONSTRAINT [DF_32a4b668b48d0a58124f228a571]  DEFAULT ((1)) FOR [is_draft]
GO
ALTER TABLE [dbo].[baking_record] ADD  CONSTRAINT [DF_678e586dee192091911d7ec4b91]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[baking_record] ADD  CONSTRAINT [DF_7e81bae7d950f38c3a4952515a8]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[batch] ADD  CONSTRAINT [DF_cfea8cb6e387bc8738a456865b3]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[batch] ADD  CONSTRAINT [DF_a3917f3c644ac6859a53043a88e]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[batch] ADD  CONSTRAINT [DF_6193845f36a61729201c685587c]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[batch_status_log] ADD  CONSTRAINT [DF_a5d8024e9e6d34704b2eb9389a6]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[batching_record] ADD  CONSTRAINT [DF_685ac23cb2e3568c67d53d96453]  DEFAULT ((1)) FOR [record_status]
GO
ALTER TABLE [dbo].[batching_record] ADD  CONSTRAINT [DF_193b9fca33e01f45d3a912d9f43]  DEFAULT ((1)) FOR [is_draft]
GO
ALTER TABLE [dbo].[batching_record] ADD  CONSTRAINT [DF_69d00b43a087bbd2d2b91bf3d18]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[batching_record] ADD  CONSTRAINT [DF_0d3235f5619f9921dd5e161612a]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[cell_barcode] ADD  CONSTRAINT [DF_641c8dd00f772cdc23382e142e7]  DEFAULT (getdate()) FOR [imported_at]
GO
ALTER TABLE [dbo].[cell_barcode] ADD  CONSTRAINT [DF_2e7382c58d453c9e80c13e56588]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[coating_record] ADD  CONSTRAINT [DF_91190b59a987d9d0aa9c5a74e28]  DEFAULT ((1)) FOR [record_status]
GO
ALTER TABLE [dbo].[coating_record] ADD  CONSTRAINT [DF_9599e91cd0aaf0aa909275f3559]  DEFAULT ((1)) FOR [is_draft]
GO
ALTER TABLE [dbo].[coating_record] ADD  CONSTRAINT [DF_77f658579356c0779b4598ec822]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[coating_record] ADD  CONSTRAINT [DF_92151c213e7a80f364b2f6fff19]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[electrode_record] ADD  CONSTRAINT [DF_f9f4e5fce1da06b1350bcd63412]  DEFAULT ((1)) FOR [record_status]
GO
ALTER TABLE [dbo].[electrode_record] ADD  CONSTRAINT [DF_98dc71c328fc81d8e76063329ed]  DEFAULT ((1)) FOR [is_draft]
GO
ALTER TABLE [dbo].[electrode_record] ADD  CONSTRAINT [DF_177efd94f24d66b5c43e33313ea]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[electrode_record] ADD  CONSTRAINT [DF_ce468e40301b0544981b47cc166]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[formation_record] ADD  CONSTRAINT [DF_d99408fee98bb8e17bf4763351f]  DEFAULT ((1)) FOR [record_status]
GO
ALTER TABLE [dbo].[formation_record] ADD  CONSTRAINT [DF_8411b125b027fbc1c2c3e1e0448]  DEFAULT ((1)) FOR [is_draft]
GO
ALTER TABLE [dbo].[formation_record] ADD  CONSTRAINT [DF_868fd08b23ad69cc3797f5abeae]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[formation_record] ADD  CONSTRAINT [DF_9f72c0e7a252d22920772a760bb]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[grading_record] ADD  CONSTRAINT [DF_ee8f3cf1ca61a1788de9b54d0aa]  DEFAULT ((1)) FOR [record_status]
GO
ALTER TABLE [dbo].[grading_record] ADD  CONSTRAINT [DF_91225434cbca4840c744bace937]  DEFAULT ((1)) FOR [is_draft]
GO
ALTER TABLE [dbo].[grading_record] ADD  CONSTRAINT [DF_8f4a318b8b5476f77292f77171a]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[grading_record] ADD  CONSTRAINT [DF_6450aa32f3a4ab62d114f7f2432]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[injection_record] ADD  CONSTRAINT [DF_fe442845596d5b14c5867a56665]  DEFAULT ((1)) FOR [record_status]
GO
ALTER TABLE [dbo].[injection_record] ADD  CONSTRAINT [DF_70766a5faba776380634bd950c3]  DEFAULT ((1)) FOR [is_draft]
GO
ALTER TABLE [dbo].[injection_record] ADD  CONSTRAINT [DF_63e897c461f28a3f95292c80743]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[injection_record] ADD  CONSTRAINT [DF_54ceaa58a20f591a93946bf3978]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[material_warehouse] ADD  CONSTRAINT [DF_e55d660406a8fc7b161bd4bbce0]  DEFAULT ('kg') FOR [unit]
GO
ALTER TABLE [dbo].[material_warehouse] ADD  CONSTRAINT [DF_9e34bc0ea5ed5c18cdd85a374ad]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[material_warehouse] ADD  CONSTRAINT [DF_d3347cfe2a3607b5c7baf9cf870]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[material_warehouse] ADD  CONSTRAINT [DF_7b956223107c1d4cc7b32e3db43]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[pack] ADD  CONSTRAINT [DF_c963b6e5d939dd555bfb477aa1c]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[process_dictionary] ADD  CONSTRAINT [DF_d4b0c9283818784e3c756eac65b]  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[process_dictionary] ADD  CONSTRAINT [DF_f508c79fe11d18c20fcf4619eb1]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[process_dictionary] ADD  CONSTRAINT [DF_e1797dab6fd13c72a771e0b54ce]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[process_dictionary] ADD  CONSTRAINT [DF_c9c1ed80f23d20c09e36faf53ad]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[quality_check] ADD  CONSTRAINT [DF_b7f7afdfe369a940614980e2323]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[quality_check] ADD  CONSTRAINT [DF_3dae3064d528f9693e7f2812642]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[roller_pressing_record] ADD  CONSTRAINT [DF_a414ff421e12f31aa441e0458c3]  DEFAULT ((1)) FOR [record_status]
GO
ALTER TABLE [dbo].[roller_pressing_record] ADD  CONSTRAINT [DF_0f35bc51a6c14d37229dd3f7dcf]  DEFAULT ((1)) FOR [is_draft]
GO
ALTER TABLE [dbo].[roller_pressing_record] ADD  CONSTRAINT [DF_1cc39c3f56d1a965020317ad7d1]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[roller_pressing_record] ADD  CONSTRAINT [DF_f36e79536ccbe2d27e07f3d8c9e]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[slitting_record] ADD  CONSTRAINT [DF_6f87665c5af9704191008162120]  DEFAULT ((1)) FOR [record_status]
GO
ALTER TABLE [dbo].[slitting_record] ADD  CONSTRAINT [DF_8e5150de3c51940dafbdb717187]  DEFAULT ((1)) FOR [is_draft]
GO
ALTER TABLE [dbo].[slitting_record] ADD  CONSTRAINT [DF_51f9a5d75a93555219f3ee6b941]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[slitting_record] ADD  CONSTRAINT [DF_30cacddf1949bb1e7294edd9006]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[sorting_record] ADD  CONSTRAINT [DF_f066629d689353d13c0891ad730]  DEFAULT ((1)) FOR [record_status]
GO
ALTER TABLE [dbo].[sorting_record] ADD  CONSTRAINT [DF_ca397b83d8f930cec9ac9f0ad33]  DEFAULT ((1)) FOR [is_draft]
GO
ALTER TABLE [dbo].[sorting_record] ADD  CONSTRAINT [DF_22294043dfd296b224f39917f5b]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[sorting_record] ADD  CONSTRAINT [DF_ac46706cf5c5d7ddebf88e81f95]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[sys_config] ADD  CONSTRAINT [DF_5a01b6ebaca49ca2053c0dc8ee9]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[sys_department] ADD  CONSTRAINT [DF_24cdfa9708aea42f70330246e1f]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[sys_department] ADD  CONSTRAINT [DF_f3711b8509e050e5ab3ab1d0fc1]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[sys_department] ADD  CONSTRAINT [DF_93b3906c37ab0e7b6444317a829]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[sys_equipment] ADD  CONSTRAINT [DF_92d9a327464af6b911537f051b4]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[sys_equipment] ADD  CONSTRAINT [DF_948c772fd7c55b32f040271a586]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[sys_equipment] ADD  CONSTRAINT [DF_5cc53e1680ba201cc7cbd33dec7]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[sys_log] ADD  CONSTRAINT [DF_9255ee7b860c110f37a938fa72d]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[sys_user] ADD  CONSTRAINT [DF_6b4f7f3c08083a895c44ffed262]  DEFAULT ((1)) FOR [role_code]
GO
ALTER TABLE [dbo].[sys_user] ADD  CONSTRAINT [DF_da3ca889954b4ef4a5bade7bc50]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[sys_user] ADD  CONSTRAINT [DF_7fba139efe11fe9ce87c090ab80]  DEFAULT ((0)) FOR [login_attempts]
GO
ALTER TABLE [dbo].[sys_user] ADD  CONSTRAINT [DF_863799a1e86eee470267667abfd]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[sys_user] ADD  CONSTRAINT [DF_f2545917aad57aca6324bb2c84a]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[winding_record] ADD  CONSTRAINT [DF_1cf6fca74259bb18265ed32e5ff]  DEFAULT ((1)) FOR [record_status]
GO
ALTER TABLE [dbo].[winding_record] ADD  CONSTRAINT [DF_ca4f7862c4317806ab3dc4ba636]  DEFAULT ((1)) FOR [is_draft]
GO
ALTER TABLE [dbo].[winding_record] ADD  CONSTRAINT [DF_ef792b9e9bcc846a86644d03a47]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[winding_record] ADD  CONSTRAINT [DF_0d18592ad3daac9bc2be00883ad]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[wrapping_record] ADD  CONSTRAINT [DF_ea5d4dd2f083d7c0a397b2026e2]  DEFAULT ((1)) FOR [record_status]
GO
ALTER TABLE [dbo].[wrapping_record] ADD  CONSTRAINT [DF_658c3b55b37f565be7f268d4175]  DEFAULT ((1)) FOR [is_draft]
GO
ALTER TABLE [dbo].[wrapping_record] ADD  CONSTRAINT [DF_3292f46002ec51288e1e6c26b6a]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[wrapping_record] ADD  CONSTRAINT [DF_a1749c93eb672959c48657d722f]  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[pack_cell]  WITH CHECK ADD  CONSTRAINT [FK_7a5afaa767ab2cbd6361c6f7f42] FOREIGN KEY([pack_id])
REFERENCES [dbo].[pack] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pack_cell] CHECK CONSTRAINT [FK_7a5afaa767ab2cbd6361c6f7f42]
GO
